<div id="needs">
	<div class="need food">
		<div class="wrap">
			<div class="tags">
				<div class="food tag"><i class="icon-shopping-cart"></i></div>
			</div>
			<div class="body">
				<div class="wrap">
					<div class="msg_body">
						<p>l;kajsd;flkj a;lskdjf asdfkj a l;kajsd;flkj a;lskdjf asdfkj a l;kajsd;flkj a;lskdjf asdfkj a l;kajsd;flkj a;lskdjf asdfkj a</p>
						<sup>10:33am on Friday, July 24</sup>
					</div>
				</div>
			</div>
			<div class="actions">
<!--				<a class="claim_btn" href="/path/to/your/page.html" data-toggle="modal" data-target="#myModal">I got this.</a>-->
				<button class="claim_btn">I got this.</button>
			</div>
		</div>
	</div>
	<div class="need food">
		<div class="wrap">
			<div class="tags">
				<div class="food tag"><i class="icon-shopping-cart"></i></div>
			</div>
			<div class="body">
				<div class="wrap">
					<div class="msg_body">
						<p>l;kajsd;flkj a;lskdjf asdfkj a l;kajsd;flkj a;lskdjf asdfkj a l;kajsd;flkj a;lskdjf asdfkj a l;kajsd;flkj a;lskdjf asdfkj a</p>
						<sup>10:33am on Friday, July 24</sup>
					</div>
				</div>
			</div>
			<div class="actions">
<!--				<a class="claim_btn" href="/path/to/your/page.html" data-toggle="modal" data-target="#myModal">I got this.</a>-->
				<button class="claim_btn">I got this.</button>
			</div>
		</div>
	</div>
	<div class="need food">
		<div class="wrap">
			<div class="tags">
				<div class="food tag"><i class="icon-shopping-cart"></i></div>
			</div>
			<div class="body">
				<div class="wrap">
					<div class="msg_body">
						<p>l;kajsd;flkj a;lskdjf asdfkj a l;kajsd;flkj a;lskdjf asdfkj a l;kajsd;flkj a;lskdjf asdfkj a l;kajsd;flkj a;lskdjf asdfkj a</p>
						<sup>10:33am on Friday, July 24</sup>
					</div>
				</div>
			</div>
			<div class="actions">
<!--				<a class="claim_btn" href="/path/to/your/page.html" data-toggle="modal" data-target="#myModal">I got this.</a>-->
				<button class="claim_btn">I got this.</button>
			</div>
		</div>
	</div>
	<div class="need health">
		<div class="wrap">
			<div class="tags">
				<div class="health tag"><i class="icon-heart"></i></div>
				<div class="shelter tag"><i class="icon-home"></i></div>
				<div class="food tag"><i class="icon-shopping-cart"></i></div>
			</div>
			<div class="body">
				
			</div>
		</div>
	</div>
	<div class="need food">
		<div class="wrap">
			<div class="tags">
				<div class="food tag"><i class="icon-shopping-cart"></i></div>
				<div class="health tag"><i class="icon-heart"></i></div>
			</div>
			<div class="body">
				
			</div>
		</div>
	</div>
	<div class="need food">
		<div class="wrap">
			<div class="tags">
				<div class="food tag"><i class="icon-shopping-cart"></i></div>
			</div>
			<div class="body">
				
			</div>
		</div>
	</div>

	<div class="need">
		<div class="wrap">
			<div class="body">
				
			</div>
		</div>
	</div>
	<div class="need">
		<div class="wrap">
			<div class="body">
				
			</div>
		</div>
	</div>
	<div class="need">
		<div class="wrap">
			<div class="body">
				
			</div>
		</div>
	</div>
</div>

</div>